recursive-include doc_src *
recursive-include docs *

recursive-include $$$$PKG_NAME$$$$/media *
recursive-include $$$$PKG_NAME$$$$/templates *

include LICENSE
include README
include *.txt

prune example/